.about_sect {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background: #0f1626;
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

.links_container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* position: absolute;
  bottom: 10%; */
  left: 50%;
  margin-bottom: 20px;
}

.content_para {
  font-family: "Lato", sans-serif;
}

.tabs {
  padding: 6px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background: #fff;
}

.active_tabs {
  background: #ff3b3f;
}

.active_tabs::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
}

button {
  border: none;
}

.content {
  /* background-color: white; */
  padding: 20px;
  width: 100%;
  display: none;
  color: #fff;
}

.active_content {
  display: block;
}

.active_two {
  /* background: #0f1626; */
}

.about_title {
  font-size: 3rem;
  font-weight: 600;
  color: #FF3B3F;
  margin: 20px;
  padding: 5px;
  width: max-content;
  font-family: "Poppins", sans-serif;
  border-right: 2px #FF3B3F solid;
  letter-spacing: 0.09rem;

}

.hero {
  height: 250px;
  float: left;
  rotate: 355deg;
  margin: 20px;
}

/* skills section */

.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills h3 {
  color: #FF3B3F;
  text-decoration: underline;
}

.skills ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.skills ul li:not(:last-child) {
  border-right: 2px #ff3b3f solid;
  padding-right: 10px;
}

.magic {
  color: #FF3B3F;
}

.touch {
  color: #FF3B3F;
  text-decoration: underline;
  letter-spacing: 0.05rem;
}


/* hobbies section */

.book input {
  display: none;
}

.book img {
  width: 100%;
  height: 100%;
}

.book {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;

}

#cover {
  width: 250px;
  height: 400px;
}

.flip_book {
  width: 250px;
  height: 400px;
  position: relative;
  perspective: 1500px;
}

.flip {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transform: rotateY(0deg);
  transition: 0.05s;
  color: #000;
}

.book p {
  font-size: 14px;
  line-height: 24px;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 13px;
  box-shadow: inset 20px 0 50px rgba(0,0,0, 0.5) 0 2px 5px rgba(0, 0, 0 , 0.5);
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  backface-visibility: hidden;
  background-color: #000;
  transform: rotateY(180deg);
}

.next_btn {
  position: absolute;
  bottom: 13px;
  right: 13px;
  cursor: pointer;
  color: #000;
}

.back_btn {
  position: absolute;
  bottom: 13px;
  right: 13px;
  cursor: pointer;
  color: red;
}

#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}

#c1:checked ~ .flip_book #p1 {
  transform: rotateY(-180deg);
  z-index: 1;
}

#c2:checked ~ .flip_book #p2 {
  transform: rotateY(-180deg);
  z-index: 2;
}

#c3:checked ~ .flip_book #p3 {
  transform: rotateY(-180deg);
  z-index: 3;
}
/* smaller screen */
@media screen and (max-width: 768px) {
  .active_content {
    display: flex;
    flex-direction: column;
  }

  .hero {
    max-width: 250px;
    margin-top: 0;
  }
  
  .skill_hero {
    max-width: 400px;
  }
}
